.cta {
  &__section {
    padding: rem(100) 0;

    @include media(768) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }


  &__block {
    display: flex;
    height: rem(400);
    width: 100%;
    position: relative;
    padding: rem(24);

    @include media(991) {
      height: rem(416);
    }
  }

  &__block-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__text {
    max-width: rem(350);
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
  }

  &__big-text {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      font-size: rem(52);
      line-height: 122.2%;
      letter-spacing: 0.075em;
      color: #FFFFFF;
      margin-bottom: rem(40);

      @include media(991) {
        font-size: rem(44);
        margin-bottom: rem(20);
      }
    }
  }
}