// =====================================================================================================================
.header {
  background: $grayColor;
  width: 100%;
  color: $lightColor;
  padding: rem(30) 0;
  position: sticky;
  top: 0;
  z-index: 1;

  @include media(991) {
    padding: rem(20) 0;
  }

  &.sticky {}

  // .header__container
  &__container {
    display: flex;
    align-items: center;
  }

  // logo

  &__logo-brand,
  &__logo-tagline {
    color: $lightColor;
  }

  // menu
  &__menu {
    margin-left: auto;

    @include media(991) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $grayColor;
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: rem(125) rem(20) rem(40);
      justify-content: space-between;
      z-index: -1;
      transition: all 0.2s linear;
      transform: translateX(100%);
    }

    .menu-open & {
      @include media(991) {
        transform: translateX(0);
        z-index: 1;
      }
    }
  }

  &__menu-about {
    @media(min-width: 992px) {
      display: none;
    }

    @include media(991) {
      display: flex;
    }

    text-align: right;
  }


}

// =====================================================================================================================

// Burger

.icon-menu {
  display: none;

  @include media(991) {
    display: block;
    position: relative;
    width: rem(26);
    height: rem(19.5);
    cursor: pointer;
    z-index: 5;
    margin-left: auto;
    background: none;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(3);
      background-color: #E2E2E2;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      width: rem(11.5);
    }

    span {
      top: calc(50% - rem(1.5));

      width: rem(19.5);
    }

    .menu-open & {
      span {
        width: 0;


      }

      span,
      &::before,
      &::after {
        height: rem(4);

      }

      &::before {
        top: calc(50% - rem(2));
        transform: rotate(-45deg);
        width: 100%;
      }

      &::after {
        bottom: calc(50% - rem(2));
        transform: rotate(45deg);
        width: 100%;
      }
    }
  }
}