.single {
  &__section {
    padding-top: rem(80);

    @include media(991) {
      padding-top: rem(40);
    }
  }

  &__title {
    text-align: left;
    margin-bottom: rem(90);

    @include media(991) {
      margin-bottom: rem(50);
    }
  }

  &__thumbnail {
    width: 100%;
    max-height: 370px;
    object-fit: cover;
    object-position: center center;

    @include media(768) {
      height: rem(200);
    }
  }

  &__content {
    h1 {}

    h2 {}

    h3 {}

    h4 {}

    h5 {}

    h6 {}

    p {
      max-width: 790px;
      font-weight: 500;
      font-size: rem(20);
      line-height: 140%;
      color: #1F1F1F;
      margin: rem(64) 0;

      strong {
        color: inherit;
        font-weight: 700;
        font-size: inherit;
      }

      a {
        color: inherit;
        font-size: inherit;
        text-decoration: underline;
      }

      @include media(991) {
        font-size: 16px;
        margin: rem(40) 0;
      }
    }

    ul {
      list-style: disc;
    }

    ul,
    ol {
      margin: rem(40) 0;
      padding-left: rem(20);

    }

    ol {
      list-style: decimal;
    }

    li {
      font-weight: 500;
      font-size: rem(20);
      line-height: 140%;
      color: #1F1F1F;
      margin-bottom: rem(20);
      list-style: inherit;

      @include media(991) {
        font-size: rem(16);
      }
    }

    img {
      margin-bottom: rem(30);
      max-width: 100%;
    }
  }
}